footer {
    display: block;
    background-color: $dark-brown;
    height: 500px;
    margin-top: 40px;
    .newsletter-container {
        display: block;
        background-color: $yellow;
        width: 100%;
        height: 100px;
        margin: 0 auto;
        text-align: center;
        .newsletter-title-block {
            display: inline-block;
            margin: 0 auto;
            h3 {
                display: inline-block;
                font-size: 24px;
                font-family: "Gotham-Bold";
                color: $white;
                padding: 20px 0 10px 0;
            }
            p {
                font-family: "Gotham-Light";
                font-size: 12px;
                //padding: 0 0 20px 0;
            }
        }
        form {
            display: inline-block;
            line-height: 100px;
            vertical-align: top;
            padding: 0 20px;
            font-size: 0;
            .mail-input {
                background-color: $yellow;
                color: $white;
                border: 1px solid $white;
                width: 300px;
                height: 40px;
                border-radius: 30px;
                padding: 0 20px;
                font-size: 12px;
                font-family: "Gotham-Bold";
                margin: 0 10px;
            }
            .submit {
                background-color: $white;
                color: $dark-brown;
                border: 1px solid $white;
                height: 40px;
                border-radius: 30px;
                padding: 0 40px;
                font-size: 12px;
                font-family: "Gotham-Bold";
                margin: 0 10px;
            }
        }
    }
    .container {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-footer {
            width: 40%;
            img {
                width: 200px;
            }
            ul{
                li{
                    a{
                        color: $main-color;
                        &:hover{
                            color:$second-color-hover;
                        }
                    }
                }
            }
        }
        .right-footer {
            width: 60%;
            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                li {
                    margin: 0px 5px;
                    border: 1px solid white;
                    border-radius: 100%;
                    a {
                        color: $white;
                        i {
                            width: 35px;
                            height: 35px;
                            font-size: 20px;
                            text-align: center;
                            vertical-align: middle;
                            line-height: 35px;
                        }
                        &:hover {
                            color: $second-color-hover;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $desktop) {
    footer {
        height: 800px;
        .newsletter-container {
            height: 200px;
        }
        .container {
            display: block;
            height: 600px;
            .left-footer {
                padding-top: 50px;
                width: 100%;
                img {
                    width: 200px;
                }
                p {
                    color: white;
                    font-family: "gotham";
                    font-size: 14px;
                }
            }
            .right-footer {
                width: 100%;
                margin-top: 50px;
                ul {
                    justify-content: center;
                    li {
                        margin: 0px 5px;
                        border: 1px solid white;
                        border-radius: 100%;
                        a {
                            color: $white;
                            i {
                                width: 35px;
                                height: 35px;
                                font-size: 20px;
                                text-align: center;
                                vertical-align: middle;
                                line-height: 35px;
                            }
                            &:hover {
                                color: $second-color-hover;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $phone) {
    footer {
        height: 800px;
        .newsletter-container {
            height: 300px;
        }
        .container{
            height: 500px;
        }
    }
}
