header {
    height: 100px;
    width: 100vw;
    position: fixed;
    .container {
        display: flex;
        flex-direction: row;
        .header-logo {
            width: 50%;
            height: 40%;
            align-self: center;
            img {
                width: 30%;
            }
        }
        .header-nav {
            width: 50%;
            height: 10%;
            align-self: center;
            ul {
                width: 100%;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                li {
                    a {
                        color: $second-color;
                    }
                }
            }
        }
    }
}
