.a-propos-content {
    .a-propos-text {
        display: block;
        font-size: 18px;
        line-height: 27px;
        font-family: 'gotham';
        text-align: left;
        width: 70%;
        margin: 0 auto;
        margin: 40px auto 40px auto;
    }
}
