.faq-content {
    .faq-introduction-container {
        padding: 0 0 30px 0;
        .faq-introduction {
            display: block;
            width: 60%;
            font-size: 14px;
            font-family: "Gotham-Book";
            color: $dark-brown;
            margin: 0 auto;
            text-align: center;
        }
    }
}