.landing-background {
    width: 100vw;
    height: 75vh;
    background-image: url(../img/landing-background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    .landing-background-filter {
        width: 100%;
        height: 100%;
        background-image: url(../img/landing-background-filter.png);
        background-position: center;
        background-size: cover;
        img {
            position: absolute;
            width: 55%;
            right: 10px;
            top: 83%;
        }
        .container {
            display: flex;
            align-items: center;
            .landing-intro {
                width: 75%;
                margin-top: 100px;
                h1 {
                    font-family: "gotham-black";
                    font-size: 30px;
                    margin-bottom: 30px;
                    color: $main-color;
                }
                p {
                    font-family: "gotham-medium";
                    font-size: 24px;
                    color: white;
                    margin-bottom: 60px;
                }
                a {
                    font-family: "gotham-bold";
                    font-size: 16px;
                    color: black;
                    background-color: $main-color;
                    padding: 15px 50px;
                    border-radius: 100px;
                }
            }
        }
    }
}

.landing-main-goal {
    background-color: $third-color;
    width: 100vw;
    height: 650px;
    z-index: -1;
    .container {
        .landing-main-goal-text {
            display: flex;
            align-items: center;
            width: 55%;
            height: 100%;
            margin: 0 0;
            .landing-main-goal-content {
                width: 75%;
                margin: 0 0;
                padding: 10px;
                color: #5a5a5a;
                h2 {
                    font-family: "gotham-bold";
                    color: $main-color;
                    margin-bottom: 20px;
                    font-size: 30px;
                }
                .bar {
                    width: 16%;
                    height: 4px;
                    background-color: #110905;
                    margin-bottom: 30px;
                }
                p {
                    font-family: "gotham";
                    font-size: 16px;
                    color: #110905;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: $desktop) {
    .landing-background {
        .landing-background-filter {
            img {
                width: 70%;
                left: 50%;
                transform: translateX(-50%);
                top: 85%;
            }
            .container {
                .landing-intro {
                    width: 100%;
                    margin-top: 0px;
                    h1 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 18px;
                    }
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .landing-main-goal {
        height: 130vh;
        .container {
            .landing-main-goal-text {
                width: 100%;
                padding-top: 350px;
                box-sizing: border-box;
                .landing-main-goal-content {
                    h2 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .landing-background {
        .landing-background-filter {
            img {
                display: none;
            }
            .container {
                max-width: 100vw;
                width: 90vw;
            }
        }
    }
    .landing-main-goal {
        height: 80vh;
        .container {
            max-width: 100vw;
            width: 90vw;
            .landing-main-goal-text {
                padding-top: 0px;
                .landing-main-goal-content {
                    width: 100%;
                    h2 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
